html, body{
  background-image: url("../images/alek-kalinowski-Sj_3Jdr19L4-unsplash.jpg");
  background-color:#11122e;
  background-size: cover;
  height:100%
}

body{
  counter-reset:section;
  text-align:center;
  height:100%
}

.form_container{
  text-align: center;
  color: #fff;
  margin-bottom: 100px;
  display: inline-block;
  position: relative;
  top:25%;
  font-weight:bold;
  color:#ff41f1;
  font-weight: 700;
  font-size: 18;
  text-shadow: 0 0 0.1em #b31fa8;
}


.credits{
  bottom:0%;
  right:5pt;
  text-align:right;
  position:absolute;
  color:#8c8fe1;
  
}

.ph{
  color:#8c8c8c;
}

.input1 {
  display: block;
  text-align:center;
  font-weight: bold;
  border:2px solid #b31fa8;
  background: #292f42;
}

.input2 {
  font-weight: bold;
  color:#ff91f8;
  width: 10em;  
  height: 2em;
  border:2px solid #b31fa8;
  background: #292f42;
  border-radius: 10px;
}
